<div class="naturescot-cookie-bar {{ params.classes if params.classes }}">
  <div class="govuk-width-container">
    <p class="govuk-body">
      NatureScot uses essential session cookies to remember your progress
      through this application.
      <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.nature.scot/cookie-policy">
        Find out more.&nbsp;(opens in new tab)
      </a>
    </p>
  </div>
</div>
